<div class="load">
    <br>
    <img src="../assets/imgs/starquiz.jpg" alt="">

    <p class="terms">Bem-vindo(a) ao desafio do StarQuiz.
    <p class="terms">O desafio é saber quantos nomes de personagens de Star Wars<p>
    <p class="terms">você consegue escrever em apenas 2 minutos.</p>
    <p class="terms">Para cada acerto direto você prova ser um Jedi e ganha 10 pontos.</p>
    <p class="terms">Para cada acerto com ajuda, você prova ser um Padawan aplicado e ganha 5 pontos.</p>
    <p class="terms">Que a força esteja em seus dedos e seus pensamentos! Tenha um bom jogo!</p>
    <p class="terms"> Atenção, ao clicar em Jogar, ao aparecer as imagens seu tempo já começara a dimunuir.</p>

  
    <input class="play"  routerLink="/game" type="image" src="../../assets/imgs/jogar.jpg" alt="Submit"  >
    <br>

  
</div>



